
<header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"><a href="/"><img src="images/logo.png" height="40"></a>PY BLogs</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active text-dark" aria-current="page" href="/">Home</a>
        <a class="nav-link fw-bold py-1 px-0 text-dark" href="/about">About</a>
        <a class="nav-link fw-bold py-1 px-0 text-dark" href="/contact">Contact</a>
      </nav>
    </div>
</header>